<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>244810579453-ktia297jjtms5vltscmcpcj2rt9hl3em.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244810579453-ktia297jjtms5vltscmcpcj2rt9hl3em</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>244810579453-18ie1epprg9rk91mcgmj8hund2l93l0n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuDr7XlUEFVONSGV4eBdJ-HQkAbLlh2Oo</string>
	<key>GCM_SENDER_ID</key>
	<string>244810579453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trackgts.app.ec</string>
	<key>PROJECT_ID</key>
	<string>trackgts-2f941</string>
	<key>STORAGE_BUCKET</key>
	<string>trackgts-2f941.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244810579453:ios:7628068d42b7b8ee</string>
	<key>DATABASE_URL</key>
	<string>https://trackgts-2f941.firebaseio.com</string>
</dict>
</plist>
